.news-article-container {
    text-align: center;
    width: 65%;
    margin: 0 auto;
    padding: 10px
  }
  
  .article-title,
  .article-date,
  .article-content {
    text-align: left;
    margin: 0;
    padding: 10px;
  }
  
  .article-date {
    font-weight: bold;
  }
  
  .article-content {
    margin: 0 auto;
  } 