.timer-font {
    font-family: 'Bebas Neue', sans-serif;
}
.competitor-name {
    font-size: 130px;
}

.team-name {
    font-size: 50px;
}

.points-size {
    font-size: 190px;
}

.category-size {
    font-size: 80px;
}

.timer-size {
    font-size: 250px;
}

.caption-size {
    font-size: 25px;
}

.advantage-size {
    font-size: 75px;
}

.no-caret::after {
    display: none;
}

/* Timer hover effect */
.timer-size:hover {
    cursor: pointer;
}

.hover-animation:hover {
    transform: translateY(-5px);
    /* Adjust the value to control the lift effect */
    transition: transform 0.2s ease-in-out;
    /* Adjust the duration and easing as needed */
}

.pointer-cursor {
    cursor: pointer;
}