body {
    color: white;
}

.event-banner {
    width: 100%;
    height: 75vh;
}

.event-data {
    width: 75%;
}

.btn-style{
    width: 100%;
}

.nav-tabs {
    background-color: #93b1a6;
}

.font {
    font-family: Roboto, sans-serif;
}