.events-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.event-card {
  background-color: #5C8374;
}

.events-background {
  background-color: #183D3D;
}

.customFont {
  font-family: 'Roboto', sans-serif;
}