.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5c8374;
    padding: 50px 0;
  }
  
  .logo {
    width: 330px;
    height: 120px;
    margin-bottom: 1rem;
  }
  
  .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
    margin: 0 10px;
  }