.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.news-background {
  background-color: #5c8374;
}

.news-card {
  background-color: #93b1a6;
}

.customFont {
  font-family: 'Roboto', sans-serif;
}
